.taskContainer {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  margin-top: 1.5rem;
  border-radius: 8px;
  gap: 0.75rem;
}

.taskContainer:last-child {
  margin-bottom: 1.5rem;
}

.taskContainer span {
  flex: 1;
}

.taskContainer button {
  border: 0;
  background: transparent;
}

.descriptionTaskDone {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.4;
}

.descriptionTaskNotDone {
  color: var(--gray-300);
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration: line-through;
}

.infoTask {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.buttonsEditTask {
  display: flex;
  gap: 0.5rem;
}

.buttonsEditTask button {
  color: var(--gray-300);
}

.buttonsEditTask button:first-child:hover {
  color: var(--blue);
  transition: color 0.1s;
}

.buttonsEditTask button:last-child:hover {
  color: var(--red);
  transition: color 0.1s;
}

.infoPublishedTask {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.infoPublishedTask span {
  font-size: 0.7rem;
  line-height: 1.4;
}
